#image {
    float: left;
}

#p1 {
    float: left;
}

#badge1 {
    position: absolute;
    text-align: center;
    left: 35px;
    bottom: 50px;
}

#badge2 {
    position: absolute;
    left: 35px;
    bottom: 50px;
}

#badge3 {
    position: absolute;
    left: 35px;
    bottom: 50px;
}

#footer3 {
    position: relative;
    top: 80px;
}

#footer1 {
    position: relative;
    top: 75px;
}

@media screen and (max-width: 640px) {
    .form-control{
        
    }
}
