#image {
    float: left;
}

#p1 {
    float: left;
}

#badge1 {
    position: absolute;
    text-align: center;
    left: 35px;
    bottom: 50px;
}

#badge2 {
    position: absolute;
    left: 692px;
    top: 480px;
}

#badge3 {
    position: absolute;
    left: 35px;
    bottom: 50px;
}

#badge4 {

}

#badge5 {

}
